.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
}
.menu > a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.menu > a:hover{
    background-color: black;
    text-decoration:underline;

}

.row-menu{
    height: 60px;
    background-color: gray;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}